<div class="container">
    <h1>Part Form</h1>
    <form #partForm="ngForm">
        <div class="form-group">
            <label for="partId">Part Id</label>
            <input type="text" class="form-control" id="partId" [(ngModel)]="model.partId" name="partId" required>
        </div>

        <div class="form-group">
            <label for="partName">Name</label>
            <input type="text" class="form-control" id="partName" [(ngModel)]="model.partName" name="partName" required>
        </div>

        <button type="button" class="btn btn-success" [disabled]="!partForm.form.valid" (click)="onSubmit();partForm.reset()">{{isEditing == true ? "Update Part" : "Create Part"}}</button>
    </form>
</div>

<div *ngIf="partsList.length > 0" class="container">
    <table>
        <thead>
            <tr>
                <th>_id</th>
                <th>Part Id</th>
                <th>Part Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let part of partsList">
                <td>{{part._id}}</td>
                <td>{{part.partId}}</td>
                <td>{{part.partName}}</td>
                <td><button type="button" class="btn btn-secondary" (click)="editPart(part)">Edit</button></td>
                <td><button type="button" class="btn btn-secondary" (click)="deletePart(part)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>